<?xml version="1.0"?>
<config>
    <modules>
        <PaulMillband_ManageCategoryPageLink>
            <version>0.0.1</version>
        </PaulMillband_ManageCategoryPageLink>
    </modules>
    <global>
        <blocks>
        <managecategorypagelink>
            <class>PaulMillband_ManageCategoryPageLink_Block</class>
        </managecategorypagelink>
        </blocks>
        <helpers>
        <managecategorypagelink>
            <class>PaulMillband_ManageCategoryPageLink_Helper</class>
        </managecategorypagelink>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
            <managecategorypagelink>
                <file>paulmillband_managecategorypagelink.xml</file>
            </managecategorypagelink>
            </updates>
        </layout>
    </adminhtml>
</config>